.container {
    display: flex;
    width: 400px;
    height: 400px;
    flex-direction: row-reverse;
    background-color: blue;
}

.container > .item {
    background-color: gray;
    width: 50%;
    height: 50px;
}